// theme/_colors.scss

$light: #9fa090; // olive-1
$primary: #45544d; // olive-2
$secondary: #3b4640; // olive-3
$dark: #30332E;
$warning: #EED202;
$error: #85230A;


$success_1: #4BD269;
$success_2: #2DB44A;
$success_3: #1D722F;

$danger_1: #BE310E;
$danger_2: #85230A;
$danger_3: #5E1908;

/*
$b_primary: #597D9F;
$b_secondary: #425D76;
$b_light: #B9C3CA;
$b_dark: #30332E;
*/