// theme/_colors.scss

$primary: #45544d; // olive-2
$secondary: #3b4640; // olive-3
$light: #9fa090; // olive-1
$dark: #30332E;
$highlight: #FBB13C;
$error: #85230A;

/*
$primary: #597D9F;
$secondary: #425D76;
$light: #B9C3CA;
$dark: #30332E;
$highlight: #FBB13C;
$error: #85230A;
*/
